.label {
  margin: 10px;
}

.label span {
  margin-right: 7px;
}

.label .value.string {
  color: red
}

.label .value.number {
  color: blue;
}

.label .value.boolean,
.label .value.null-value {
  color: blueviolet;
}
